*.swp
data
data-journal
*.DS_Store
tmux*
.file_tags.kaktmp
.kak.tags.namecache
tags
.vscode*
nohup.out
*.sass-cache*
styles/main.css.*
*.iml
.idea/
tmp
dist
.nyc_output
coverage
build

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project related (We only need server.js and src)
.github
.vscode
docs
mongodb
node_modules
.env
.env.example
LICENSE
docker-compose.yml
.eslintrc
.eslintignore
.gitignore
README
